name: Daily Exchange Rate Check

on:
  schedule:
    # 既然你觉得11:35太晚了，我们把时间设得更“偏”一点，避开高峰
    # 这里设为：每天 9:15, 13:15, 18:15 (SGT)
    - cron: '15 1,5,10 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install requests
          pip install beautifulsoup4

      - name: Run script
        env:
          PUSHPLUS_TOKEN: ${{ secrets.PUSHPLUS_TOKEN }}
        run: python main.py
